<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<fragment>
	<extension point="com.isencia.passerelle.engine.actors">
		<actor class="ptolemy.actor.TypedCompositeActor" group="com.isencia.passerelle.actor.actorgroup.utilities"
			icon="icons/comp.gif" id="ptolemy.actor.CompositeActor" name="Submodel">
		</actor>
		<actor class="ptolemy.vergil.kernel.attributes.TextAttribute"
			group="com.isencia.passerelle.actor.actorgroup.utilities" icon="icons/comment.png"
			id="ptolemy.vergil.kernel.attributes.TextAttribute" name="Comment">
		</actor>
		<actor class="ptolemy.actor.TypedIOPort" group="com.isencia.passerelle.actor.actorgroup.utilities"
			icon="icons/input-submodel.png" id="Input" name="Input">
		</actor>
		<actor class="ptolemy.actor.TypedIOPort" group="com.isencia.passerelle.actor.actorgroup.utilities"
			icon="icons/output-submodel.png" id="Output" name="Output">
		</actor>
		<actor class="ptolemy.moml.Vertex" group="com.isencia.passerelle.actor.actorgroup.utilities"
			icon="icons/vertex.png" id="Hub" name="Hub">
		</actor>
		<actor class="com.isencia.passerelle.actor.error.ErrorCatcher"
			group="com.isencia.passerelle.actor.actorgroup.general" icon="icons/trash.gif"
			id="com.isencia.passerelle.actor.error.ErrorCatcher" color="200,50,50"
			name="Error Catcher">
		</actor>
		<actor class="com.isencia.passerelle.actor.error.ErrorObserver"
			group="com.isencia.passerelle.actor.actorgroup.general" icon="icons/error.gif"
			id="com.isencia.passerelle.actor.error.ErrorObserver" color="200,50,50"
			name="Error Observer">
		</actor>
		<actor class="com.isencia.passerelle.actor.convert.HeaderModifier"
			group="com.isencia.passerelle.actor.actorgroup.general" icon="icons/error.gif"
			id="com.isencia.passerelle.actor.convert.HeaderModifier" color="200,50,50"
			name="Header Modifier">
		</actor>
		<actor class="com.isencia.passerelle.actor.general.Const" group="com.isencia.passerelle.actor.actorgroup.general"
			icon="icons/error.gif" id="com.isencia.passerelle.actor.general.Const"
			color="200,50,50" name="Constant">
		</actor>
		<actor class="com.isencia.passerelle.process.actor.trial.DummyResultActor"
			group="com.isencia.passerelle.actor.actorgroup.trial" id="com.isencia.passerelle.process.actor.trial.DummyResultActor"
			color="229,103,23" name="Dummy Result">
		</actor>

		<actor class="com.isencia.passerelle.model.Flow" group="com.isencia.passerelle.actor.actorgroup.submodels"
			id="ptolemy.actor.Submodel" icon="icons/flow.png" name="Shared Submodel">
		</actor>

		<actor class="com.isencia.passerelle.process.actor.flow.Fork"
			group="com.isencia.passerelle.actor.actorgroup.flow" icon="icons/fork.png"
			color="255,236,139" id="com.isencia.passerelle.process.actor.flow.Fork"
			name="Fork">
		</actor>
		<actor class="com.isencia.passerelle.process.actor.flow.Join"
			group="com.isencia.passerelle.actor.actorgroup.flow" icon="icons/join.png"
			color="255,236,139" id="com.isencia.passerelle.process.actor.flow.Join"
			name="Join">
		</actor>
		<actor class="com.isencia.passerelle.actor.control.Stop" group="com.isencia.passerelle.actor.actorgroup.flow"
			icon="icons/stop.png" id="com.isencia.passerelle.actor.control.Stop"
			name="Stop">
		</actor>
		<actor id="com.isencia.passerelle.actor.synchronizer" class="com.isencia.passerelle.actor.flow.Synchronizer"
			group="com.isencia.passerelle.actor.actorgroup.flow" name="Synchronizer">
		</actor>
		<actor id="com.isencia.passerelle.actor.timer" class="com.isencia.passerelle.actor.control.Timer"
			group="com.isencia.passerelle.actor.actorgroup.time" icon="icons/time.png"
			name="Timer">
		</actor>
		<actor id="com.isencia.passerelle.actor.throttlingdelay" class="com.isencia.passerelle.actor.flow.Delay"
			group="com.isencia.passerelle.actor.actorgroup.time" icon="icons/sleeping.gif"
			name="Throttling Delay">
		</actor>

		<actor id="com.isencia.passerelle.actor.sequencetoarrayconverter"
			class="com.isencia.passerelle.actor.sequence.SequenceToArrayConverter"
			group="com.isencia.passerelle.actor.actorgroup.msg" icon="icons/seq.gif"
			name="SequenceToArrayConverter">
		</actor>
		<actor id="com.isencia.passerelle.actor.arraytosequenceconverter"
			class="com.isencia.passerelle.actor.sequence.ArrayToSequenceConverter"
			group="com.isencia.passerelle.actor.actorgroup.msg" icon="icons/seq.gif"
			name="ArrayToSequenceConverter">
		</actor>
		<actor id="com.isencia.passerelle.actor.sequencetracker"
			class="com.isencia.passerelle.actor.sequence.SequenceTracker" group="com.isencia.passerelle.actor.actorgroup.msg"
			icon="icons/seq_complete.gif" name="SequenceTracker">
		</actor>
		<actor class="com.isencia.passerelle.actor.flow.Delay" group="com.isencia.passerelle.actor.actorgroup.flow"
			icon="icons/waiting.png" color="255,236,139"
			id="com.isencia.passerelle.actor.flow.Delay" name="Throttling Delay">
		</actor>
		<actor class="com.isencia.passerelle.domain.cap.Director" group="com.isencia.passerelle.actor.actorgroup.directors"
			icon="icons/director.gif" id="com.isencia.passerelle.domain.cap.Director"
			name="Process Director">
		</actor>
		<actor class="com.isencia.passerelle.domain.et.ETDirector"
			group="com.isencia.passerelle.actor.actorgroup.directors" icon="icons/director.gif"
			id="com.isencia.passerelle.domain.et.ETDirector" name="Event Director">
		</actor>

		<actor class="com.isencia.passerelle.actor.general.Console"
			group="com.isencia.passerelle.actor.actorgroup.general" id="com.isencia.passerelle.actor.general.Console"
			name="Console">
		</actor>
		<actor class="com.isencia.passerelle.actor.general.Counter"
			group="com.isencia.passerelle.actor.actorgroup.general" id="com.isencia.passerelle.actor.general.Counter"
			name="Counter">
		</actor>

		<actor class="com.isencia.passerelle.actor.general.TracerConsole"
			group="com.isencia.passerelle.actor.actorgroup.general" id="com.isencia.passerelle.actor.general.TracerConsole"
			name="Tracer Console">
		</actor>
		<actor class="com.isencia.passerelle.actor.general.ErrorConsole"
			group="com.isencia.passerelle.actor.actorgroup.general" id="com.isencia.passerelle.actor.general.ErrorConsole"
			name="Error Console">
		</actor>
		<actor class="com.isencia.passerelle.actor.control.QuartzScheduler"
			group="com.isencia.passerelle.actor.actorgroup.general" id="com.isencia.passerelle.actor.control.QuartzScheduler"
			name="Quartz Scheduler">
		</actor>
		<actor class="com.isencia.passerelle.actor.control.Trigger"
			group="com.isencia.passerelle.actor.actorgroup.general" id="com.isencia.passerelle.actor.control.Trigger"
			name="Trigger">
		</actor>
		<actor class="com.isencia.passerelle.process.actor.flow.StartActor"
			group="com.isencia.passerelle.actor.actorgroup.flow" id="com.isencia.passerelle.process.actor.flow.StartActor"
			icon="icons/start.gif" color="229,103,23" name="Start Flow">
		</actor>

		<actor class="com.isencia.passerelle.process.actor.trial.DummyResultActor"
			group="com.isencia.passerelle.actor.actorgroup.trial" id="com.isencia.passerelle.process.actor.trial.DummyResultActor"
			name="Dummy Result">
		</actor>

	</extension>
	<extension point="com.isencia.passerelle.engine.actorGroups">
		<actorgroup icon="icons/utilities.png"
			id="com.isencia.passerelle.actor.actorgroup.utilities" name="Utilities"
			open="true" priority="1000">
		</actorgroup>
		<actorgroup id="com.isencia.passerelle.actor.actorgroup.flow"
			parent="com.isencia.passerelle.actor.actorgroup.utilities" name="Flow"
			open="false">
		</actorgroup>
		<actorgroup id="com.isencia.passerelle.actor.actorgroup.trial"
			parent="com.isencia.passerelle.actor.actorgroup.utilities" name="Trial"
			open="false">
		</actorgroup>
		<actorgroup id="com.isencia.passerelle.actor.actorgroup.directors"
			parent="com.isencia.passerelle.actor.actorgroup.utilities" name="Directors"
			open="false">
		</actorgroup>
		<actorgroup id="com.isencia.passerelle.actor.actorgroup.general"
			features="Sequences" name="General" priority="500">
		</actorgroup>
		<actorgroup id="com.isencia.passerelle.actor.actorgroup.time"
			name="Time Control" icon="icons/time.png"
			parent="com.isencia.passerelle.actor.actorgroup.general">
		</actorgroup>
		<actorgroup id="com.isencia.passerelle.actor.actorgroup.msg"
			name="Msg sequences" icon="icons/seq.gif"
			parent="com.isencia.passerelle.actor.actorgroup.general">
		</actorgroup>
		<actorgroup id="com.isencia.passerelle.actor.actorgroup.submodels"
			name="Shared Submodels" open="false" priority="0">
		</actorgroup>
	</extension>
</fragment>
