<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.isencia.passerelle.engine.actorGroups">
      <actorgroup
            id="com.isencia.passerelle.actor.examples.actorgroup"
            name="Example Actors"
            open="false">
      </actorgroup>
   </extension>
   <extension
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="com.isencia.passerelle.actor.examples.TextSource"
            group="com.isencia.passerelle.actor.examples.actorgroup"
            id="com.isencia.passerelle.actor.examples.TextSource"
            name="TextSource">
      </actor>
      <actor
            class="com.isencia.passerelle.actor.examples.MultiInputsTracerConsole"
            group="com.isencia.passerelle.actor.examples.actorgroup"
            id="com.isencia.passerelle.actor.examples.MultiInputsTracerConsole"
            name="MultiInputsTracerConsole">
      </actor>
      <actor
            class="com.isencia.passerelle.actor.examples.DelayWithExecutionTrace"
            group="com.isencia.passerelle.actor.examples.actorgroup"
            id="com.isencia.passerelle.actor.examples.DelayWithExecutionTrace"
			icon="icons/time.png"
            name="DelayWithExecutionTrace">
      </actor>
   </extension>
</plugin>
