<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.isencia.passerelle.engine.actorGroups">
       <actorgroup
            id="com.isencia.passerelle.actor.actorgroup.soleil"
            icon="icons/sun.png"
           name="Soleil" >
      </actorgroup>
      <actorgroup
      		parent="com.isencia.passerelle.actor.actorgroup.soleil"
            id="fr.soleil.passerelle.actor.tango.basic"
            name="Basic">
      </actorgroup>
   </extension>
   <extension
         point="com.isencia.passerelle.engine.actors">
		<actor
            class="fr.soleil.passerelle.domain.BasicDirector"
            group="com.isencia.passerelle.actor.actorgroup.directors"
            icon="icons/director.gif"
            id="fr.soleil.passerelle.domain.BasicDirector"
            name="Soleil Director">
        </actor>      
		<actor
            class="fr.soleil.passerelle.actor.tango.basic.AttributeReader"
            group="fr.soleil.passerelle.actor.tango.basic"
            id="fr.soleil.passerelle.actor.tango.basic.AttributeReader"
            name="AttributeReader">
        </actor>       
		<actor
            class="fr.soleil.passerelle.actor.tango.basic.AttributeWriter"
            group="fr.soleil.passerelle.actor.tango.basic"
            id="fr.soleil.passerelle.actor.tango.basic.AttributeWriter"
            name="AttributeWriter">
        </actor>       
   </extension>

</plugin>
