<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>Table of Contents</title>
</head>

<body>
<h1>Table of Contents</h1>
<h2>Passerelle Actors</h2>
<ul>
#foreach( $key in $allActorClasses.keySet() )
<li>	<a href="${allActorClasses.get($key)}.html">$key</a> </li>
#end
</ul>
</body>
</html>