<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>${object.getDisplayName()}</title>
	</head>
<body>
<h1><b>${object.getDisplayName()}</b></h1>

<h2>Details</h2>
<table>
	#if (${object.getContainer()})
	<tr>
		<td><b>Parent Flow:</b></td>
		<td><a href="../${object.getContainer().getName()}.html">${object.getContainer().getDisplayName()}</a></td>
	</tr>
	#end
</table>

#if (!${object.getContainer()} && ${object.getDirector()})
<h2>Director</h2>
<a href="${path}${object.getDirector().getName()}.html">${object.getDirector().getDisplayName()}</a>
#end

<h2>Diagram</h2>

#if (${parameters})
<h2>Parameters</h2>
<table>
#foreach (${parameter} in ${parameters})
	<tr>
		<td align="right"><b>${parameter.getDisplayName()}:</b></td>
		<td>${parameter.getValueAsString()}</td>
	</tr>
#end
</table>
#end

#if (${actors})
<h2>Actors</h2>
<table>
#foreach (${actor} in ${actors})
	<tr>
		<td><a href="${path}${actor.getName()}.html">${actor.getDisplayName()}</a></td>
	</tr>
#end
</table>
#end

</body>
</html>