<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>${object.getDisplayName()}</title>
		#if (${diagramHeaders})
		#foreach (${header} in ${diagramHeaders})
			${header}
		#end
		#end
	</head>
<body>
<h1><b>${object.getDisplayName()}</b></h1>

<h2>Details</h2>
<table>
	#if (${object.getContainer()})
	<tr>
		<td><b>Parent Flow:</b></td>
		<td><a href="../${object.getContainer().getName()}.html">${object.getContainer().getDisplayName()}</a></td>
	</tr>
	#elseif (${object.getDirector()})
	<tr>
		<td><b>Director:</b></td>
		<td><a href="${object.getName()}/${object.getDirector().getName()}.html">${object.getDirector().getDisplayName()}</a></td>
	</tr>
	#end
</table>

#if (${parameters})
<h2>Parameters</h2>
<table>
#foreach (${parameter} in ${parameters})
	<tr>
		<td align="right"><b>${parameter.getDisplayName()}:</b></td>
		<td>${parameter.getValueAsString()}</td>
	</tr>
#end
</table>
#end

#if (${actors})
<h2>Actors</h2>
<table>
#foreach (${actor} in ${actors})
	<tr>
		<td><a href="${object.getName()}/${actor.getName()}.html">${actor.getDisplayName()}</a></td>
	</tr>
#end
</table>
#end

<h2>Diagram</h2>
<div>
${diagram}
</div>


</body>
</html>