<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<fragment>
   <extension point="com.isencia.passerelle.engine.actors">
      <actor id="com.isencia.passerelle.actor.const"
            class="com.isencia.passerelle.actor.general.Const"
            group="com.isencia.passerelle.actor.actorgroup.src"
            icon="icons/const.gif"
			name="Const">
      </actor>
      <actor id="com.isencia.passerelle.actor.filereader"
            class="com.isencia.passerelle.actor.io.FileReader"
            group="com.isencia.passerelle.actor.actorgroup.src"
            icon="icons/file.gif"
            name="FileReader">
      </actor>
      <actor id="com.isencia.passerelle.actor.mailreceiver"
            class="com.isencia.passerelle.actor.mail.MailReceiver"
            group="com.isencia.passerelle.actor.actorgroup.src"
            icon="icons/mail.gif"
            name="MailReceiver">
      </actor>
      <actor id="com.isencia.passerelle.actor.multicastreceiver"
            class="com.isencia.passerelle.actor.net.MulticastReceiver"
            group="com.isencia.passerelle.actor.actorgroup.src"
            name="MulticastReceiver">
      </actor>
      <actor id="com.isencia.passerelle.actor.filewriter"
            class="com.isencia.passerelle.actor.io.FileWriter"
            group="com.isencia.passerelle.actor.actorgroup.sink"
            icon="icons/file.gif"
            name="FileWriter">
      </actor>
      <actor id="com.isencia.passerelle.actor.smtpsender"
            class="com.isencia.passerelle.actor.mail.SMTPSender"
            group="com.isencia.passerelle.actor.actorgroup.sink"
            icon="icons/mail.gif"
            name="MailSender">
      </actor>
      <actor id="com.isencia.passerelle.actor.multicastsender"
            class="com.isencia.passerelle.actor.net.MulticastSender"
            group="com.isencia.passerelle.actor.actorgroup.sink"
            name="MulticastSender">
      </actor>
      <actor id="com.isencia.passerelle.actor.console"
            class="com.isencia.passerelle.actor.general.Console"
            group="com.isencia.passerelle.actor.actorgroup.sink"
            icon="icons/writeout.gif"
            name="Console">
      </actor>
      <actor id="com.isencia.passerelle.actor.errorconsole"
            class="com.isencia.passerelle.actor.general.ErrorConsole"
            group="com.isencia.passerelle.actor.actorgroup.sink"
            icon="icons/writeerr.gif"
            name="ErrorConsole">
      </actor>
      <actor id="com.isencia.passerelle.actor.commandexecutor"
            class="com.isencia.passerelle.actor.general.CommandExecutor"
            group="com.isencia.passerelle.actor.actorgroup.general"
            icon="icons/osprc.gif"
            name="CommandExecutor">
      </actor>
      <actor id="com.isencia.passerelle.actor.headermodifier"
            class="com.isencia.passerelle.actor.convert.HeaderModifier"
            group="com.isencia.passerelle.actor.actorgroup.general"
            icon="icons/header.gif"
			name="HeaderModifier">
      </actor>
      <actor id="com.isencia.passerelle.actor.counter"
            class="com.isencia.passerelle.actor.general.Counter"
            group="com.isencia.passerelle.actor.actorgroup.general"
            icon="icons/counter.png"
            name="Counter">
      </actor>
      <actor id="com.isencia.passerelle.actor.devnull"
            class="com.isencia.passerelle.actor.general.DevNullActor"
            group="com.isencia.passerelle.actor.actorgroup.general"
            icon="icons/trash.gif"
            name="DevNull">
      </actor>
      
      <actor id="com.isencia.passerelle.actor.headerfilter"
            class="com.isencia.passerelle.actor.filter.HeaderFilter"
            group="com.isencia.passerelle.actor.actorgroup.filter"
            icon="icons/filter.gif"
            name="HeaderFilter">
      </actor>
      <actor id="com.isencia.passerelle.actor.regexpfilter"
            class="com.isencia.passerelle.actor.filter.RegExpFilter"
            group="com.isencia.passerelle.actor.actorgroup.filter"
            icon="icons/filter.gif"
            name="RegExpFilter">
      </actor>
      
      <actor id="com.isencia.passerelle.actor.trigger"
            class="com.isencia.passerelle.actor.control.Trigger"
            group="com.isencia.passerelle.actor.actorgroup.flow"
            icon="icons/trigger.gif"
            name="Trigger">
      </actor>
      <actor id="com.isencia.passerelle.actor.stop"
            class="com.isencia.passerelle.actor.control.Stop"
            group="com.isencia.passerelle.actor.actorgroup.flow"
            icon="icons/stop.gif"
            name="Stop">
      </actor>
      <actor id="com.isencia.passerelle.actor.synchronizer"
            class="com.isencia.passerelle.actor.flow.Synchronizer"
            group="com.isencia.passerelle.actor.actorgroup.flow"
            name="Synchronizer">
      </actor>
      
      <actor id="com.isencia.passerelle.actor.chronometer"
            class="com.isencia.passerelle.actor.control.Chronometer"
            group="com.isencia.passerelle.actor.actorgroup.time"
            icon="icons/time.png"
            name="Chronometer">
      </actor>
      <actor id="com.isencia.passerelle.actor.timer"
            class="com.isencia.passerelle.actor.control.Timer"
            group="com.isencia.passerelle.actor.actorgroup.time"
            icon="icons/time.png"
            name="Timer">
      </actor>
      <actor id="com.isencia.passerelle.actor.throttlingdelay"
            class="com.isencia.passerelle.actor.flow.Delay"
            group="com.isencia.passerelle.actor.actorgroup.time"
            icon="icons/sleeping.gif"
            name="Throttling Delay">
      </actor>
      
      <actor id="com.isencia.passerelle.actor.sequencetoarrayconverter"
            class="com.isencia.passerelle.actor.sequence.SequenceToArrayConverter"
            group="com.isencia.passerelle.actor.actorgroup.msg"
            icon="icons/seq.gif"
            name="SequenceToArrayConverter">
      </actor>
      <actor id="com.isencia.passerelle.actor.arraytosequenceconverter"
            class="com.isencia.passerelle.actor.sequence.ArrayToSequenceConverter"
            group="com.isencia.passerelle.actor.actorgroup.msg"
            icon="icons/seq.gif"
            name="ArrayToSequenceConverter">
      </actor>
      <actor id="com.isencia.passerelle.actor.sequencetracker"
            class="com.isencia.passerelle.actor.sequence.SequenceTracker"
            group="com.isencia.passerelle.actor.actorgroup.msg"
            icon="icons/seq_complete.gif"
            name="SequenceTracker">
      </actor>
      
      <actor id="ptolemy.actor.compositeactor"
            class="ptolemy.actor.TypedCompositeActor"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/comp.gif"
            name="CompositeActor">
      </actor>
      <actor id="ptolemy.vergil.kernel.attributes.textattribute"
            class="ptolemy.vergil.kernel.attributes.TextAttribute"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/comment.png"
            name="Comment">
      </actor>
      <actor id="ptolemy.actor.inputport"
            class="ptolemy.actor.TypedIOPort"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/input.png"
            name="Input">
      </actor>
      <actor id="ptolemy.actor.outputport"
            class="ptolemy.actor.TypedIOPort"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/output.png"
            name="Output">
      </actor>
      <actor id="ptolemy.actor.vertex"
            class="ptolemy.moml.Vertex"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/vertex.png"
            name="Diamond">
      </actor>
   </extension>
   
   <extension point="com.isencia.passerelle.engine.actorGroups">
      <actorgroup id="com.isencia.passerelle.actor.actorgroup.utilities"
            name="Utilities"
            icon="icons/utilities.png"
            open="true"
            priority="1000"
            >
      </actorgroup>
      <actorgroup id="com.isencia.passerelle.actor.actorgroup.general"
            name="General"
            priority="900"
            >
      </actorgroup>
      <actorgroup
            id="com.isencia.passerelle.actor.actorgroup.src"
            name="Sources"
            icon="icons/import.gif"
            parent="com.isencia.passerelle.actor.actorgroup.general"
            priority="1000"
            >
      </actorgroup>
      <actorgroup
            id="com.isencia.passerelle.actor.actorgroup.sink"
            name="Sinks"
            icon="icons/export.gif"
            parent="com.isencia.passerelle.actor.actorgroup.general"
            priority="900"
            >
      </actorgroup>
      <actorgroup id="com.isencia.passerelle.actor.actorgroup.flow"
            name="Flow Control"
            parent="com.isencia.passerelle.actor.actorgroup.general"
            priority="800"
            >
      </actorgroup>
      <actorgroup id="com.isencia.passerelle.actor.actorgroup.filter" 
            name="Filters"
            icon="icons/filter.gif"
            parent="com.isencia.passerelle.actor.actorgroup.flow"
            >
      </actorgroup>
      <actorgroup id="com.isencia.passerelle.actor.actorgroup.time"
            name="Time Control"
            icon="icons/time.png"
            parent="com.isencia.passerelle.actor.actorgroup.general"
            priority="700"
            >
      </actorgroup>
      <actorgroup id="com.isencia.passerelle.actor.actorgroup.msg"
      		name="Msg sequences"
            icon="icons/seq.gif"
            parent="com.isencia.passerelle.actor.actorgroup.general"
            priority="600"
            >
      </actorgroup>
   </extension>
</fragment>
