<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.isencia.passerelle.engine.actorGroups">
      <actorgroup
            id="fr.soleil.passerelle.cdma.actor.actorgroup"
            name="CDMA Actors"
            parent="fr.soleil.passerelle.actor.actorgroup.soleil"
            open="false">
      </actorgroup>
   </extension>
   <extension
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="fr.soleil.passerelle.cdma.actor.CDMADataSetReader"
            group="fr.soleil.passerelle.cdma.actor.actorgroup"
            id="fr.soleil.passerelle.cdma.actor.CDMADataSetReader"
            name="CDMADataSetReader">
      </actor>
      <actor
            class="fr.soleil.passerelle.cdma.actor.CDMASqlQueryActor"
            group="fr.soleil.passerelle.cdma.actor.actorgroup"
            id="fr.soleil.passerelle.cdma.actor.CDMASqlQueryActor"
            name="CDMASqlQueryDataSetReader">
      </actor>
      <actor
            class="fr.soleil.passerelle.cdma.actor.CDMADataItemSelector"
            group="fr.soleil.passerelle.cdma.actor.actorgroup"
            id="fr.soleil.passerelle.cdma.actor.CDMADataItemSelector"
            name="CDMADataItemSelector">
      </actor>
      <actor
            class="fr.soleil.passerelle.cdma.actor.CDMAShapeFilter"
            group="fr.soleil.passerelle.cdma.actor.actorgroup"
            id="fr.soleil.passerelle.cdma.actor.CDMAShapeFilter"
            name="CDMAShapeFilter">
      </actor>
      <actor
            class="fr.soleil.passerelle.cdma.actor.CDMADataSetSlicer"
            group="fr.soleil.passerelle.cdma.actor.actorgroup"
            id="fr.soleil.passerelle.cdma.actor.CDMADataSetSlicer"
            name="CDMADataSetSlicer">
      </actor>
      <actor
            class="fr.soleil.passerelle.cdma.actor.CDMAArrayValueModifier"
            group="fr.soleil.passerelle.cdma.actor.actorgroup"
            id="fr.soleil.passerelle.cdma.actor.CDMAArrayValueModifier"
            name="CDMAArrayValueModifier">
      </actor>
      <actor
            class="fr.soleil.passerelle.cdma.actor.CDMAArrayValueDumper"
            group="fr.soleil.passerelle.cdma.actor.actorgroup"
            id="fr.soleil.passerelle.cdma.actor.CDMAArrayValueDumper"
            name="CDMAArrayValueDumper">
      </actor>
   </extension>

</plugin>
